body{background:lightblue;}

h1{text-align:center;
text-decoration:underline;
}

h2{text-align:center;
color:blue;
font-style:italic;
}

h3{font-style:italic;}

#dtrg{font-weight:bold;
text-align:right;
color:red;}

.pourpre{color:purple;}